[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "oh-my-zsh/custom/themes/bullet-train"]
	path = oh-my-zsh/custom/themes/bullet-train
	url = https://github.com/caiogondim/bullet-train.zsh
[submodule "dotbot-pip"]
	path = dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
