packages: [
  "advanced-open-file"
  "an-old-hope-syntax"
  "ariake-dark-syntax"
  "atom-ide-ui"
  "atom-import-cost"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-ternjs"
  "atom-typescript"
  "auto-detect-indentation"
  "auto-update-packages"
  "autoclose-html"
  "autocomplete-modules"
  "behave-theme"
  "busy-signal"
  "chester-atom-syntax"
  "color-picker"
  "csscomb"
  "dash-syntax"
  "dash-ui"
  "emmet"
  "file-icons"
  "firewatch-syntax"
  "fizzy"
  "flow-ide"
  "git-blame"
  "git-plus"
  "git-split-diff-hyperclick"
  "git-time-machine"
  "gloom"
  "hey-pane"
  "highlight-selected"
  "hyperclick"
  "ide-flowtype"
  "ide-typescript"
  "intentions"
  "js-hyperclick"
  "language-babel"
  "language-docker"
  "language-graphql"
  "language-json5"
  "language-nginx"
  "linter-eslint"
  "linter-flow"
  "linter-swagger"
  "linter-tslint"
  "minimap"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-linter"
  "minimap-pigments"
  "minimap-selection"
  "minimap-split-diff"
  "monokai"
  "node-debugger"
  "nucleus-dark-ui"
  "nuclide-format-js"
  "package-cop"
  "package-sync"
  "pigments"
  "project-manager"
  "pure-syntax"
  "ramda-syntax"
  "regex-railroad-diagram"
  "seti-ui"
  "split-diff"
  "svg-preview"
  "teletype"
  "turbo-javascript"
  "vim-mode-plus"
  "vim-mode-plus-ex-mode"
  "word-jumper"
]
